@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
}

.real-main{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

main {
  margin-top: 60px;
  justify-content: center;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  gap: 0px 0px;
}

.main-box {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 125px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.br-t{
    border-top: 0;
}

.br-b{
    border-bottom: 0;
}

.br-l{
    border-left: 0;
}

.br-r{
    border-right: 0;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text{
  margin-top: 3.2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2.8rem;
}

.win-text{
  margin-top: 1.3rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

button{
  margin-top: 0.7rem;
  margin-left: 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  padding: 0px 15px;
  outline: none;
  color: white;
  background-color: black;
  border: 2px solid black;
  border-radius: 20px;
}

button:hover{
  color: black;
  background-color: white;
}

@media (max-width: 750px){
  main {
    margin-top: 40px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
  }
  .main-box{
    font-size: 100px;
  }
  .real-main{
    flex-direction: column;
  }
  button{
    font-size: 1rem;
  }
}